*{
 padding: 0%; 
 margin: 0%;  
}
body{
    font-family: sans-serif;
    font-size: 14px;
    line-height: 24px;
}
h1,h2,h3,h4,h5,h6{
    font-family: sans-serif;
}
img{
    max-width: 100%;
    height: auto;
}
a{
 text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.green{
    width: 700px;
    height: 450px;
    background-color: rgb(27, 85, 27); 
    position: relative;
}
.red{
    width: 180px;
    height:180px;
    background-color: red;
    border-radius: 100%;
    margin-top: 20%;
    margin-left: 35%;
    position:absolute;
    z-index: 2;
    }
.orange{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 175, 27);
    border-radius: 100%;
    margin-top: 20%;
    margin-left: 35%;
    position: absolute;
    transform: translate(110px,-96px);
    z-index: 1;
}
.black{
    width: 200px;
    height: 200px;
    background-color: black;
    position: fixed;
}
.fbshare{
   width: 120px; 
   top: 60px;
   right: 80px;
   position: fixed;
}
.fbshare:hover{
    cursor: pointer;
    right: -5px;
}
   

   

